  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Developer Skills</title>
  </head>
  <body>
    <h1>New Developer Skill</h1>
    <form action="/devskills" method="POST" autocomplete="off">
      <input type="text" name="text" class="devskills-input"/>
      <button type="submit" class="btn">SAVE SKILL</button>
    </form>
  </body>
</html>